<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>One Pick</title>
    <link rel="stylesheet" href="start.css" />
  </head>
  <body>
    <main>
      <section class="start-book">
        <img
          src="동물농장.jpg"
          alt="이미지를 불러오지 못했습니다."
          class="start-book-img"
        />
      </section>
      <section class="start-btns">
        <a href="#" class="start-yes">이 책이 마음에 드시나요?</a>
        <a href="#" class="start-no">다른 책을 원하시나요?</a>
      </section>
      <script defer src="start.js"></script>
    </main>
  </body>
</html>
