<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="./order.css" />
    <title>주문 페이지</title>
</head>
<body>
  <!-- 헤더 -->
  <header></header>

  <!-- 메인 -->
  <main class="main">
    <div class="container">
      <!-- 주문 헤더 -->
      <section class="order-header">
        <div class="first-title">
          <p>장바구니 &gt; &nbsp;</p>
        </div>
        <div class="second-title">
          <p>주문결제</p>
        </div>
        <div class="third-title">
          <p>&nbsp; &gt; 주문완료</p>
        </div>
      </section>
    </div>
    
    <div class="cart-product">
      <!-- 배송지 정보 -->
      <section class="delivery-info">
        <p class="subtitle">배송지 정보</p>
        <!-- 성함 -->
        <div class="field">
          <div class="field-label">
            <label class="label" for="receiverName">이름</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input
                  class="input"
                  id="receiverName"
                  type="text"
                  placeholder="받는 분 성함을 적어주세요"
                  autocomplete="on"
                />
              </p>
            </div>
          </div>
        </div>

        <!-- 연락처 -->
        <div class="field">
          <div class="field-label">
            <label class="label" for="receiverPhoneNumber">연락처</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input
                  class="input"
                  id="receiverPhoneNumber"
                  type="number"
                  placeholder="-없이 입력해주세요"
                  autocomplete="on"
                />
              </p>
            </div>
          </div>
        </div>

        <!-- 주소 -->
        <div class="field">
          <div class="field-label">
            <label class="label" for="address2">주소</label>
          </div>
          <div class="field-body search">
            <div class="field">
              <p class="control">
                <input
                  class="input"
                  id="postalCode"
                  type="text"
                  placeholder="주소찾기를 클릭해 주세요."
                  readonly
                />
              </p>
            </div>
            <div>
              <button
                class="button"
                id="searchAddressButton"
              >
                주소찾기
              </button>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="field-label"></div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input
                  class="input"
                  id="address1"
                  type="text"
                  placeholder=""
                  autocomplete="on"
                  readonly
                />
              </p>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="field-label"></div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input
                  class="input"
                  id="address2"
                  type="text"
                  placeholder=""
                  autocomplete="on"
                />
              </p>
            </div>
          </div>
        </div>

        <!-- 요청사항 -->
        <div class="field">
          <div class="field-label">
            <label class="label" for="requestSelectBox">요청사항</label>
          </div>
          <div class="field-body">
            <div class="select">
              <select id="requestSelectBox">
                <option value="0">
                  배송시 요청사항을 선택해 주세요.
                </option>
                <option value="1" class="select-option">
                  직접 수령하겠습니다.
                </option>
                <option value="2" class="select-option">
                  배송 전 연락바랍니다.
                </option>
                <option value="3" class="select-option">
                  부재 시 경비실에 맡겨주세요.
                </option>
                <option value="4" class="select-option">
                  부재 시 문 앞에 놓아주세요.
                </option>
                <option value="5" class="select-option">
                  부재 시 택배함에 넣어주세요.
                </option>
                <option value="6" class="select-option">직접 입력</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field custom-request" id="customRequestContainer">
          <div class="field-label is-normal no-label"></div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input
                  class="input"
                  id="customRequest"
                  type="text"
                  maxlength="50"
                  placeholder="최대 50자 입력이 가능합니다."
                  autocomplete="on"
                  />
              </p>
            </div>
          </div>
        </div>
        
        <!-- 주문 정보 요약 -->
        <div class="tile tile-order-summary">
          <div class="box order-summary">
            <div class="header">
              <p>결제정보</p>
            </div>
            <div class="order-info">
              <div class="info">
                <p>주문상품</p>
                <p class="products-title" id="productsTitle"></p>
              </div>
              <div class="info">
                <p>상품총액</p>
                <p id="productsTotal"></p>
              </div>
              <div class="info">
                <p>배송비</p>
                <p id="deliveryFee"></p>
              </div>
            </div>
            <div class="total">
              <p class="total-label">총 결제금액</p>
              <p class="total-price" id="orderTotal"></p>
            </div>
            <div class="purchase">
              <button class="button is-info" id="checkoutButton">
                결제하기
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</body>
</html>